
<!-- We don't use href attribute here, it re-download entire page -->

<ul class="nav nav-tabs" >
  <li class="nav-item" >
    <a class="nav-link" routerLinkActive="active current" routerLink="home">Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
          routerLinkActive="active current" 
          routerLink="followers"
          [queryParams]="{page:1, order: 'newest'}"
          >Followers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="posts">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="favorite">Favorite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="course">Course</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="zippy">Zippy</a>
  </li> -->
</ul>

<br>