<h1>Angular</h1>

<!-- ngIf practice -->
<div *ngIf="phones.length>0">List of Phones</div>
<div *ngIf="phones.length==0"> No phones yet</div>

<!-- Alternative to above ^^ -->
<div *ngIf="phones.length>0 then phoneList else noPhones"></div>
<ng-template #phoneList> A lot of phones</ng-template>
<ng-template #noPhones> No phone </ng-template> <br>

<!-- Hidden property -->
<div [hidden]='false'>Apple</div>
<div [hidden]='true'>Apple2</div>
<div [hidden]='phones.length>0'>Apple3</div>


<!-- Switch -->
<ul class="nav nav-pills">
    <button class="btn btn-primary" ><li [class.active]="viewMode == 'map' "><a (click)="viewMode='map'">Map View</a></li></button>
    <button class="btn btn-primary" ><li [class.active]="viewMode == 'list' "><a (click)="viewMode='list'">List View</a></li></button>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Something else</div>
</div>


<!-- ........Creating custom directives.......... -->
<input type="text" [appInputFormat]="'lowercase'">


<like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like>

<!-- This will be put inside select='.heading' element -->
<!-- <bootstrap-panel>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here ...</p>
    </div>
    <div class="heading">Heading</div>
</bootstrap-panel> -->


<!-- <app-courses></app-courses> -->
<!-- <app-course></app-course> -->
<!-- <author></author> -->

<!-- <favorite [alias-for-is-favorite]="post.isFavorite" (changeEvent)='onFavoriteChanged($event)'></favorite> -->

<!-- <zippy title="Shipping details">
    Shipping Details Content
</zippy>

<zippy title="Billing details">
    Billing Details Content
</zippy> -->


<!-- <contact-form></contact-form> -->


<!-- Learning Reactive forms, it allows to create custom validations and writing unit tests -->
<signup-form></signup-form>