
<input 
    class="form-control"
    type="text"
    (keyup.enter)="createPost(title)" #title>

<ul class="list-group">
    <br>
    <div>Just showing 6 posts here</div>
    <br>
    <li *ngFor="let post of posts| slice:0:5; let i=index" class="list-group-item">
        <button 
            (click)="updatePost(post)"
            class="btn btn-secondary btn-sm"> Update
        </button>

        <button 
            (click)="deletePost(post)"
            class="btn btn-default btn-sm"> Delete
        </button>   
        {{post.title}}
    </li>
</ul>